<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Messages</li>
</ol>
<div class="container">
    <div class="">
        <a href="/users/listfriend" class="btn btn-success">Danh sách bạn bè</a>
        <a href="/messages/create" class="btn btn-success">Tạo tin nhắn</a>
        <a href="/messages/receive" class="btn btn-success">Xem tin nhắn đã nhận</a>
    </div>
    <div class="">
        <form method="post">
            <div class="form-group">
                <label for="">Người nhận :</label>
                <select class="form-control" name="receive">
                    {{#each listfriend}}
                        <option value="{{this.id}}">{{this.email}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label>title</label>
                <input class="form-control" type="text" name="title" class="form" required="true" placeholder="title">
            </div>
            <div class="form-group">
                <label>content</label>
                <textarea class="form-control" type="text" required="true" name="content"></textarea>
            </div>
            <div class="form-group">
                <label>Picture</label>
                <input type="text" name="picture">
            </div>
            <button type="submit" class="btn btn-success">submit</button>
            <button class="btn btn-default" type="reset">reset</button>
        </form>
    </div>
</div>