<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Messages</li>
</ol>
<div class="container">
    <div class="">
        <a href="/users/listfriend" class="btn btn-success">Danh sach ban be</a>
        <a href="/messages/createmessage" class="btn btn-success">Tạo tin nhắn</a>
        <a href="/messages/viewmessage" class="btn btn-success">Xem tin nhắn</a>
    </div>
    <div class="">
        <div class="">
            <h3>Danh sách tin nhắn đã nhận</h3>
            {{#each list}}
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <span class="glyphicon glyphicon-user"></span>
                            <label for="">{{this.name}}</label>
                            <div class="caption">

                                <label for="">{{this.chat}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
