<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Messages</li>
</ol>
<div class="container">
    <div class="">
        <a href="/users/listfriend" class="btn btn-success">Danh sách bạn bè</a>
        <a href="/messages/create" class="btn btn-success">Tạo tin nhắn</a>
        <a href="/messages/receive" class="btn btn-success">Xem tin nhắn đã nhận</a>
    </div>
    <h3>Danh sách tin nhắn đã nhận</h3>
   	{{#each list}}
   		<div class="row">
			<div class="thumbnail">
				<label>Người gởi : {{this.email}}</label></br>
				<label>title : {{this.title}}</label>
				<a href="/messages/detail/{{this.id}}">Chi tiết</a>
			</div>
		</div>
   	{{/each}}
</div>