<div class="">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Bài Viết</li>
	</ol>
</div>
<div class="container">
	
	<div class="form-group">
		<label>Email :{{message.email}}</label>
	</div>
	<div class="form-group">
		<label>Title: {{message.title}}</label>
	</div>
	<div class="form-group">
		<label>Content: {{message.content}}</label>
	</div>
	<div class="form-group">
		<img src="{{message.picture}}">
	</div>
</div>