* {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}
img {
    border: none;
    vertical-align: top;
}
body {

}
#layout {
    margin: 10px 100px 20px 100px;   
}

#header {
    padding: 10px 20px 20px 20px;
    
    
}
/*hLeft*/
.hLeft {
    float: left;
    margin-bottom: 10px;
    width: 40%;
}

.hLeft a img{
    width: 250px;
    height: 100px;
}
@media only screen and (max-width: 768px){
    .hLeft a img{
        width: 95%;
        height: 95%;
    }
}
/*hRight*/
.hRight {
    float: right;
    margin-bottom: 20px;
}
.hRight .hLogin {
    margin-bottom: 37px;
    text-align: right;
    float: right;
    font-weight: bold;
}
.hRight .hLogin ul li {
    font-size: 16px;
}

/*global navigation*/
#gNav {
    clear: both;
    margin: 0px 20px;
    background-color: #F5720E; 

}
#gNav ul li{
    border-right: solid 1px #4D3F35;
    display: inline;
    
}
#gNav ul li.last{
    border-right: none;
    display: inline;
    font-size: 10;
    
}

 #gNav ul li a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

#gNav ul li a:hover {
     
    color: #FE9C2D;
    background-color: #FADDD1;
     
}
#gNav .leftgNav {
    float: left;
}
@media only screen and (max-width: 768px){
    #gNav ul li {
       border-right: none;
    }
}
/*pageBody*/
#pageBody {
    padding: 0px 20px 10px 20px;
    
    }


#footer {
    clear: both;
    border-top: 1px solid #a3a2a3;
    padding: 10px;
    background-color: #F76D31; 
    margin-top: 20px;
    /*margin: 0px 20px;*/
    text-align: center;
}
#footer div ul {
    margin-bottom: 10px;
    
}
#footer div ul li {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}
#footer div ul li{
    display: inline;
    border-right: solid 1px #333;
    padding: 0 5px;
}
#footer div ul li.last {
    border-right: none;
    padding-right: 0;
}
#footer {
    zoom: 1;
}

#footer:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;    
}

#pageBody {
    zoom: 1;
}
#pageBody:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.albums{
    padding: 0 6px;
    float: left;
    width: 24.9999999%;
    margin-bottom: 5px;
}
.albums img {
    width: 100%;
    height: 300px;
    
}
@media only screen and (max-width: 768px){
    .albums {
        width: 49.99999%;
        margin: 6px 0;
    }
}

.album1{
   
    margin-bottom: 35px;
}
.album1 img {
    width: 100%;
    height: 300px;

}
.myaddress {
    clear: both;
    margin-left: 50px;
}


.responsive {
    padding: 0 6px;
    float: left;
    width: 33.333333%;
    margin-bottom: 5px;
}
.gallery img {
    width: 100%;
    height: 200px;
}

.desc {
    padding: 10px;
    
}

@media only screen and (max-width: 768px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.banner {
    margin: 10px 120px;
    width: 75%;
}
.banner img{
    width: 100%;
}
@media only screen and (max-width: 768px){
    .banner {
        width: 75%%;
        margin: auto;
    }
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-login {
    border-color: #f26d7d;
    padding-bottom: 20px;
}
.labelLogin {
    background-color: #f26d7d;
    display: inline-block;
    color: black;
    padding: 0.5em 1em 0.5em 1em;
    width: 100%; 
    text-align:center;
}
.btn-facebook {
    background-color: #3b5998;
    color: white;
}
.btn-twitter {
    background: #00aced;
    color: white;
}
.btn-google {
    background: #c32f10;
    color: white;
}
.btn-login {
    background-color: #f26d7d;
    color: white;
    padding: 0.3em 0.6em 0.3em 0.6em;
}

.btn-login:hover {
    background-color: black;
    color: #f26d7d;
    text-decoration: none;
}