<div class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
    <li class="breadcrumb-item active">Delete user</li>
  </ol>
</div>
<div class="row">
{{detailMessages}}
</div>