<div class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
    <li class="breadcrumb-item active">Insert user</li>
  </ol>
</div>
<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1" ,="" role="main">
	<div class="row" ,="" style="padding-top: 10px">
        <div class="col-xs-12">
        	<div class="col-lg-8 col-lg-offset-2 panel panel-login">
  
				<h3 class="labelLogin" ,="" style="width: 100%;">Thêm User</h3>

				<form action="/admin/insert" method="post">
				<div class="form-group">
				    <div class="input-group form-group">
				        <span class="input-group-addon"></span>
				        <input class="form-control" placeholder="Nhập họ và tên" required="required" type="text" name="name" >
				    </div>
				      
				    <div class="input-group form-group">
				        <span class="input-group-addon"></span>
				        <input class="form-control" placeholder="Nhập email" required="required" type="email" name="email">
				      </div>
					<div class="input-group form-group">
				        <span class="input-group-addon"></span>
				        <input class="form-control" placeholder="Nhập mật khẩu" required="required" type="password" name="password">
				    </div>
				    			      
				</div>
				<input type="submit" class="btn btn-lg btn-login form-control" value="Thêm">
				  		  
				</form>
			</div>
		</div>
        
	</div>
    
</div>