<div class="fLeft">
	<p><h4>Blog Tâm Trạng</h4></p>
	<p>Địa chỉ:	227 Nguyễn Văn Cừ, phường 4, quận 5, TP.HCM<br />
	<strong>Liên hệ quảng cáo:</strong> <br/>
		Điện thoại: 012.3456789</p>
	<p>Email: <a href="mailto:support@blogtamsu.com">support@blogtamsu.com</a></p>
	<!-- / class fLeft --></div>

<div class="fRight">
	<ul class="">
		<li class=""><a href="/">TRANG CHỦ</a></li>
		<li><a href="#">BÀI VIẾT</a></li>
		<li><a href="#">GÓC ẢNH</a></li>
		<li><a href="#">GỬI BÀI</a></li>
		<li class="last"><a href="/abouts">ABOUT US</a></li>		
	</ul>	
	<p>Copyright (c) 2017 Blog Tâm Trạng</p>
<!--class fRight--></div>