<div class="hLeft">
	<a href="#"><img src="/public/image/logo.jpg" alt="logo"></a>
<!--class hLeft--></div>
<div class="hRight">
	<div class="hLogin">
		<ul class="nav navbar-nav">
			<li class=""><a href="/users/signup ">Đăng Ký</a></li>					
			<li class="last"><a href="/users/signin">Đăng Nhập</a></li>		
		</ul>			
	</div>
				
	<form class="form-inline" action="" >
     	<div class="form-group">
          	<input type="text" name="keyword" class="form-control" placeholder="Nhập từ khóa cần tìm...">
        </div>
        <button type="submit" class="btn btn-primary">
  			<span class="glyphicon glyphicon-search"></span>
		</button>
 	</form>
 				
<!--class hRight--></div>