<div class="hLeft">
	<h1><a href="#"><img src="/public/image/logo.jpg" alt="logo"></a></h1>
<!--class hLeft--></div>
<div class="hRight">
	<div class="hLogin">
		<ul class="nav navbar-nav">
			<li class=""><a href="/users/signup">Đăng Ký</a></li>					
			<li class="last"><a href="/users/signin">Đăng Nhập</a></li>		
		</ul>			
	</div>
				
	
 				
<!--class hRight--></div>