<div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
</div>
<div class="container">
  <h3>Danh sách bài viết</h3>
  {{#each list}}
  <div class="row">
    <div class="thumbnail">
      <label>email: {{this.email}}</label></br>
      <label>title: {{this.title}}</label></br>
      <a href="/blogs/{{this.id}}">Chi tiết bài viết</a>
    </div>
  </div>
  {{/each}}
</div>