<div class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Albums</li>
  </ol>
</div>
<div class="">
					
		<div class="responsive">
		    <div class="albums">
		      <a target="_blank" href="img_fjords.jpg" style="height:400px">
		        <img src="/public/image/albums1.jpg" alt="Trolltunga Norway" >
		      </a>
		      <a target="_blank" href="#">
		       Girl xinh hà thành
		      </a>
		      <p>15-06-2017 01:30:00</p>
		      
		    </div>
		</div>
		<div class="responsive">
		    <div class="gallery">
		      <a target="_blank" href="img_forest.jpg">
		        <img src="/public/image/tho3.jpg" alt="Forest" >
		      </a>
		       <a target="_blank" href="#">
		       Thơ Radio: Tháng sáu về liệu ai có tìm nhau?
		      </a>
		      <p>15-06-2017 01:30:00</p>
		      <div class="desc">
		        Tháng sáu này, liệu ai có tìm nhau Trong miền nhớ hay trong màu kí ức Để thấy lại mình của một thời rạo rực… Yêu chân </div>
		    </div>
		</div>
		<div class="responsive">
		    <div class="gallery">
		      <a target="_blank" href="img_lights.jpg">
		        <img src="/public/image/tho2.jpg" alt="Northern Lights">
		      </a>
		      <a target="_blank" href="#">
		       Thơ Radio: Tháng sáu về liệu ai có tìm nhau?
		      </a>
		      <p>15-06-2017 01:30:00</p>
		      <div class="desc">
		        Tháng sáu này, liệu ai có tìm nhau Trong miền nhớ hay trong màu kí ức Để thấy lại mình của một thời rạo rực… Yêu chân </div>
		    </div>
		</div>
  	</div>
</div
				