<div class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Login</li>
  </ol>
</div>
<div class="login">
	<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1" ,="" role="main">
        <div class="row" ,="" style="padding-top: 10px">
        	<div class="col-xs-12">
            
				<div class="col-lg-8 col-lg-offset-2 panel panel-login">
	
					<h3 class="labelLogin">Đăng nhập</h3>

					<form action="/dangnhap" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="4jGrA+cvsKoKBjSJdhuKAIgh9Sc2qTTg1zOGPni4m1qEx+Qvf7iA+LnNGK1slX1VjQcxP4a4yk5rRwd7yzPjKw==">
						


						<div class="row">
							<div class="col-xs-4">
								<a href="#" class="btn btn-lg btn-block btn-facebook">
									Facebook
								</a>
							</div>
							<div class="col-xs-4">
								<a href="#" class="btn btn-lg btn-block btn-twitter">
									Twitter
								</a>
							</div>
							<div class="col-xs-4">
								<a href="#" class="btn btn-lg btn-block btn-google">
									Google+
								</a>
							</div>
						</div>

						<hr>

						<div class="form-group">
							<div class="input-group form-group">
								<span class="input-group-addon"></span>
								<input class="form-control" placeholder="Nhập email" required="required" type="email" name="session[email]" id="session_email">
							</div>
							<div class="input-group form-group">
								<span class="input-group-addon"></span>
								<input class="form-control" placeholder="Nhập mật khẩu" required="required" type="password" name="session[password]" id="session_password">
							</div>
						</div>
						
						<input type="submit" name="commit" value="Đăng nhập" class="btn btn-lg btn-login form-control" data-disable-with="Đăng nhập">
					
					</form>
					<p>
						</p><div class="col-xs-6">
							<a href="#">Forgot password?</a>
						</div>
						<div class="col-xs-6 text-right">
							
							<b><a href="/dangky">Đăng ký</a></b>
						</div>
					<p></p>	

				</div>
			</div>
		</div>
	</div>
</div>