<div class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Contact</li>
  </ol>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="alert alert-success" role="alert">
			{{detailMessages.success}}
		</div>
	</div>
</div>