<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
    <script src="/public/js/jquery.min.js" charset="utf-8"></script>
    <script src="/public/js/bootstrap.js" charset="utf-8"></script>
	<link rel="icon" href="/public/image/icon.gif" type="image/gif" >
	<link type="text/css" rel="stylesheet" href="/public/css/mystyle.css" />
	
	
</head>

<body >
	<div id="layout">
		<div id="header">
			{{> header}}
		<!-- / id header --></div>
		<div id="gNav" >
			{{> menu}}		
		<!-- / id gNav --></div>

		<div id="pageBody">
			<div>
				{{{body}}}
			</div>
		</div>

		<div id="footer">
			{{> footer}}
		<!-- / id footer --></div>
	<!-- / id layout --></div>
	

</body>

</html>
