<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css"> 
	<link rel="icon" href="/public/image/icon.gif" type="image/gif" >
	<link type="text/css" rel="stylesheet" href="/public/css/mystyle.css" />
	<title>{{title}}</title>
	
</head>
<body >
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="header">{{> header_user}}</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="gNav" >{{> menu}}</div>			
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="pageBody">{{{body}}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="footer">{{> footer}}</div>
			</div>
		</div>
	</div>
	<script src="/public/js/jquery.min.js" charset="utf-8"></script>
    <script src="/public/js/bootstrap.js" charset="utf-8"></script>
    <script type="text/javascript" src="/public/js/follow_user.js"></script>
</body>

</html>
